table, td, th {
  border-bottom: 1px solid #ddd;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }
  
   td {
    text-align: center;
    padding: 20px;
    height: 50px;
    width: 100px;

  }
  tr:hover {background-color: rgb(217, 223, 226);}

  
  .mynav {
   
  height: 100%; 
  width: 120px; 
  position: fixed; 
  top: 0; 
  left: 0;
  background-color: rgb(57, 171, 236); 
  overflow-x: hidden; 
  padding-top: 20px;
}


  .btn  {
    border: none; 
    background-color: white;
    color:  rgb(57, 171, 236);
    padding: 10px; 
    cursor: pointer; 
  }

